@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: black;
}

img {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.load-more-btn {
  width: 130px;
  height: 40px;

  margin-bottom: 30px;

  background-color: #b6b6f3;
  border-radius: 5px;
  border: 2px solid transparent;
}

.is-hidden {
  display: none;
}
