.search-section {
  background-color: #b6b6f3;
}

.search-form {
  padding: 15vh 10vw;
}

.search-input {
  width: 55vw;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  vertical-align: baseline;

  transition: 250ms ease-out;
}

.search-input:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.search-input:focus {
  outline: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.search-btn {
  width: 13vw;
  height: 40px;

  font-size: 18px;

  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid transparent;
  vertical-align: baseline;
  transition: 250ms ease-out;
}

.search-btn:hover:enabled,
.search-btn:focus:enabled {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.search-btn:active:enabled {
  background-color: #9be8be;
  color: black;
}

.search-btn:disabled {
  background-color: rgb(73, 71, 71);
  color: rgb(189, 186, 186);
}
