.search-section {
  background-color: #b6b6f3;
}

.search-form {
  padding: 15vh 10vw;
}

.search-input {
  width: 55vw;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  vertical-align: baseline;
}

.search-btn {
  width: 13vw;
  height: 40px;

  text-transform: uppercase;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: 2px solid transparent;
  vertical-align: baseline;
}
